[2015-07-18 01:37] evolvedmicrobe opened #2 "Need to implement ability to use fewer reads for POA"

[2015-07-18 01:52] evolvedmicrobe opened #4 "Need to create continuous integration testing"
To verify the build and tests for each branch / commit

[2015-07-18 02:10] evolvedmicrobe opened #5 "Need to document classes/methods"
Perhaps we should use doxygen?

[2015-07-18 02:22] evolvedmicrobe opened #6 "Need to add tests and test data"

[2015-07-18 07:17] evolvedmicrobe opened #7 "Change Reference Transition to Match Unite-EM"
This tricky guy will need to be changed and checked in ContextParameterProvider.

[code]

[2015-07-18 23:27] evolvedmicrobe opened #11 "Standardize two emission array sizing"
Fix this line to avoid copy problems by forcing the local and global arrays to always have the same size, as in the PMF_SIZE define here (https://github.com/evolvedmicrobe/cafe-quality/commit/1f916d75f17b6c61017f0c37bfafc35c88657989#diff-6768078e549d1d2a1c1bdbcd5f64b295):

    memcpy(MatchIqvPmf,  matchIqvPmf,  sizeof(MatchIqvPmf));

[2015-07-20 18:39] nlhepler opened #14 "Special case minPasses = 0/1 handling to avoid extra work"
This should also fix jbullard's issue from long, long ago.

[2015-07-21 22:05] evolvedmicrobe opened #22 "Jointly Test All Substitutions"
Invert the match penalty in scoring to get a bound on the score for any substitution mutation.

[2015-07-23 16:26] nlhepler opened #23 "Do actual chemistry decoding (rather than a check for P6/C4-ness)"

[2015-07-26 22:01] evolvedmicrobe opened #29 "Report Original Raw Read Predicted Accuracy in Addition to CCS Predicted Accuracy"

[2015-07-27 18:40] nlhepler opened #32 "Readme/documentation converted to RST format"

[2015-07-29 07:02] evolvedmicrobe opened #34 "Standardize header file suffix to *.h"
We seem to have mixed use of .h and .hpp, and I think it might be good to standardize.  Was thinking of changing these files:

    ./ConsensusCore/include/ConsensusCore/Quiver/detail/sse_mathfun.h
    ./include/pacbio/ccs/ChainSeeds.h
    ./include/pacbio/ccs/ChemistryMapping.h
    ./include/pacbio/ccs/ChemistryTriple.h
    ./include/pacbio/ccs/Consensus.h
    ./include/pacbio/ccs/Exceptions.h

[2015-07-29 21:10] evolvedmicrobe opened #35 "Emit Mutation Specific QVs"
Right now our QV values are an underdetermined representation of the possible mutations.  That is, given a QV value one cannot tell how the error probability is distributed amongst the deletion, insertion and substitution values.

This creates problems both for using downstream applications, and for figuring out how to reverse complement reads.  For example, consider the following alignment in the

[2015-07-30 00:47] evolvedmicrobe opened #36 "Improve QV Scores"
The QV scores emitted from CCS do not have enough dynamic range.  In an example lambda dataset, 67% of all the QV scores emitted at the default settings had the highest QV we emit (QV = 93).

![pmfqvall](https://cloud.githubusercontent.com/assets/1330626/8973088/a5b957c6-3615-11e5-8507-7c9b1c364791.png)

Additionally, our model-based parametric QV of 93 corresponds to an empirical error rate of QV

[2015-07-30 19:55] dalexander opened #37 "get ConsensusCore into PacificBiosciences/ConsensusCore:arrow branch"
Once it's up there I can start helping w/ SWIG issues

[2015-07-30 21:22] evolvedmicrobe opened #38 "Recover good data sections from bad subreads"
Right now if any stretch of a subread looks very bad, the entire subread is dropped.  For example consider the following:

[code]

Because the subread shown has an unexplained and large deletion in the middle, we drop the whole read.  This improves overall quality (the center section would otherwise vote for deletions), but at the expense of losing information at the tails where there actually see

[2015-08-07 00:46] evolvedmicrobe opened #40 "Reimplement Palindrome Filtering or Fix POA/Adapter-Finding."
This beauty appeared from ZMW "m141008_060349_42194_c100704972550000001823137703241586_s1_p0/3110/ccs"

And these can't be allowed to pass through.

GAAGCTACTAGTCCTCAGCAAGCTTGTGCGTCGCTCAAAAAGCTGCGCTCGAAAAAAAAAAGTCGTCTGTCTAGATGATGTGCCCCCCCCCCGTATATGTATCCCCCAGTGTATGAGCATTCTAGAGGATCCCCGGGTCTCTCTCAAGAATGCTCATACACTGGGGGATACATATACGGGGGGGGGGCACATCATCTAGACAGACGACTTTTTTTTTCGAGCGCAGCTTTTTGAGCGACGCACAAGCTTGC

[2015-08-07 01:23] nlhepler commented on #40
Do you know, is that just 1 subread or all subreads?

[2015-08-07 16:31] dalexander commented on #40
by barcoding, do you mean "adapter finding", nigel?

[2015-08-07 18:49] nlhepler opened #41 "Passthrough TagCollection for things like barcode assignments"

[2015-08-07 19:07] dalexander commented on #41
yes

[2015-08-07 20:32] evolvedmicrobe commented on #40
Hmmm... the "this is a doosy" factor on this could be high.

So, this is a problem because the consensus sequence is a palindromic repeat of the template sequence (the HP screening template).  Interesting, when the consensus is run through BWA it returns two "primary alignents" (doosy #1, two alignments which are primary) and the first alignment (first half of the CCS consensus aligned to the temp

[2015-08-07 20:48] evolvedmicrobe opened #42 "Decide if we should enable a by-pass for long/low-coverage data"
From Liz.

Version/build when this occurred: 0.0.1 (internal build)

Overview: new CCS is very slow. A single movie (three .bax.h5 combined to a bam
file) takes almost a day to finish on 12 CPUs.

Steps to reproduce

directory:
/home/UNIXHOME/etseng/projects2015/internal_Ting_Maize/smrtpipe/BC_rerun_4to6kb_newCCS

The .bax.h5 files were first converted bam per movie (see: bax2bam.sh)

Then CCS was

[2015-08-07 23:02] nlhepler commented on #42
I know why this is slow. Look at the --minPasses option. The old CCS didn't propagate everything forward. The new CCS does the right thing wrt to the QVs, but this would mean everything takes forever.

[2015-08-08 00:04] evolvedmicrobe opened #43 "Nightly Build Still Has Z-Score Default of -2"
We have been getting complaints about dropped reads due to Z-Score filtering, it appears to be the case that the nightly build still has a Z-score default of -2 and not -5, leading to the drastic yield loss.

[2015-08-08 00:15] nlhepler commented on #43
Hmm, that's weird, because pivc had pbccs at d03a8ce849fdee1580b58f9b4832b02e51d0e37a, which has the -5 cutoff. Also, the latest build's `ccs --help` shows the default value as -5, and that stuff doens't lie.

[2015-08-08 00:19] evolvedmicrobe commented on #43
So jharting ran this command on or about Aug 5-6

    /mnt/secondary/builds/full/3.0.0/prod/current-build_smrtanalysis/smrtcmds/bin/ccs --minLength=700 --minPasses=1 --reportFile=ccs.filtered.report.csv cell1.ccs.filtered.bam cell1.subreads.bam

And the highest non-NaN value is:

    [1] -1.999999

And I am thinking this may apply to other people.  Can we figure out who needs to re-run the data so

[2015-08-08 00:22] nlhepler commented on #43
Now that is really convincing. Okay, I'll go digging. The checkin was ages ago, last Friday. This suggests something else is up.

[2015-08-08 00:24] evolvedmicrobe commented on #43
I'm looking at a file he ran with Zscore=-6 right now to see what that looks like to.

[2015-08-08 00:27] nlhepler commented on #43
https://github.com/PacificBiosciences/pbccs/blob/master/include/pacbio/ccs/Consensus.h#L93

and

https://github.com/PacificBiosciences/pbccs/blob/master/include/pacbio/ccs/Consensus.h#L400

and

https://github.com/PacificBiosciences/pbccs/blob/master/ConsensusCore/src/C%2B%2B/Arrow/MultiReadMutationScorer.cpp#L313

Show the default to be -5, and to be properly passed through. Thoughts?

[2015-08-08 00:29] evolvedmicrobe commented on #43
hold on, this might be a file copy issue..

[2015-08-08 00:31] evolvedmicrobe commented on #43
grr wrong path to output file

    [1] -4.996608

[2015-08-08 00:31] #43 closed

[2015-08-08 00:33] nlhepler commented on #40
This makes it kind of "not our problem", don't you think? I'd rather have these still appear in the data because it's evidence of a library prep problem/issue/rate.

[2015-08-08 00:38] nlhepler commented on #40
I think we're on the same page here. =) I'm inclined, as per your suggestion, to let downstream deal with them. I'll let you close this though, just in case you disagree.

[2015-08-08 00:42] evolvedmicrobe commented on #40
Yeah, let's punt this to downstream for now

[2015-08-08 00:42] #40 closed

[2015-08-08 00:43] nlhepler commented on #38
Maybe it didn't. Maybe the polymerase slipped

[2015-08-08 00:45] evolvedmicrobe commented on #38
Which goes back to your comment about affine indel.

[2015-08-08 00:55] nlhepler commented on #38
Yea, though it's not going to be fun to implement or to listen to people complain about performance...

[2015-08-08 00:56] nlhepler commented on #38
Well, might be fun to implement if we can leave more legacy stuff behind. I want to kind of do a semi-rewrite where we start with nothing and pull in classes/functions/methods 1-at-a-time, cleaning up each one, until we have a minimal working configuration.

[2015-08-08 01:03] dalexander commented on #38
Let's ask MBrown if he can help us inspect some of these in PulseRecognizer early next week.

[2015-08-08 01:13] evolvedmicrobe commented on #42
![image](https://cloud.githubusercontent.com/assets/1330626/9148422/e270b42c-3d2f-11e5-8500-d2d7d9be1767.png)

Yikes.. check out the per subread read Z-score distribution for this dataset, it's all over the place.

[2015-08-08 01:26] nlhepler commented on #42
Yowzers, what's with the bimodality?

[2015-08-08 01:31] evolvedmicrobe commented on #42
No idea, maybe @etseng knows?  But It looks like your theory is right on.  Most of these reads are coverage = 1 and super long.  From profiling before these take up a ton of time, and were never handled properly in the old version.

![image](https://cloud.githubusercontent.com/assets/1330626/9148479/3187a514-3d32-11e5-9ae7-b55fb4ce10ff.png)

[2015-08-08 01:34] nlhepler commented on #42
Ohhhh, for 0- and 1-pass ZMWs the model will perfectly match the observations, leading to super-high z-scores.

[2015-08-08 01:35] nlhepler commented on #42
As a test, what does the z-score distribution look like for all np:i:2?

[2015-08-08 01:56] evolvedmicrobe commented on #42
Here's a little geom jitter and density for you:

![image](https://cloud.githubusercontent.com/assets/1330626/9148542/a85cf1f6-3d34-11e5-82d1-4e09d3f8ba38.png)

So the Avg is approaching the mean as it should, but I don't understand completely how you get such low Za values at NP=0/1.

Focusing on the distribution of  Z scores for reads with 5X coverage, it starts to look a lot more normal (but st

[2015-08-08 01:59] evolvedmicrobe commented on #42
violin probably clearer

![image](https://cloud.githubusercontent.com/assets/1330626/9148593/660ed70e-3d36-11e5-923c-f60c39204078.png)

[2015-08-08 04:13] nlhepler commented on #42
This suggests there might be a bug in the POA--I'll file a bug against that to write some unit tests for single-string POAs -- seq == POA(seq), and AlignmentSummary should have end-to-end start/end. That could cause some low z-scores, maybe.

As for over-dispersion, ~ shrug ~ ? Real data isn't generated according to our model exactly...

[2015-08-08 04:47] evolvedmicrobe commented on #42
Yeah, I suppose if the likelihood is low due to some bug, it will take a long time to get to the right answer... we should probably verify the speed/POA are acceptable, gonna assign to the POA expert if that's alright.

[2015-08-10 16:58] pb-jchin commented on #42
just a general question, is the z-score a new and calibrated one? or is it inherited from long time ago?

[2015-08-10 17:30] dalexander commented on #42
Hi Jason, this has nothing to do with the alignment Z-scores from BLASR

[2015-08-10 17:32] pb-jchin commented on #42
@dalexander that is good :)

[2015-08-10 17:33] evolvedmicrobe commented on #42
oh, blasr has Z-scores???  What are those?

Jason, I will send you the write up on these Z-scores.

[2015-08-10 18:08] nlhepler commented on #42
Nigel, I'm going to make a new issue for the POA bits, and unassign myself here.

[2015-08-10 18:09] nlhepler opened #45 "Tests for POA edge-case(s) (single-read mostly)"

[2015-08-10 23:53] evolvedmicrobe commented on #45
We should probably just pass the read through the POA in the case the case of one read and make it the initial template.  I think it gets dodgy when we have one read from the back half and another read from the front half of a template.

[2015-08-12 07:25] evolvedmicrobe opened #47 "Track down reason why ~1% of reads don't converge"
We have a yield loss of ~1% because the CCS read does not converge, we should figure out why so we can recover these.

[code]

An example dataset is located in:

[code]

[2015-08-12 08:12] evolvedmicrobe commented on #45
@lhepler the BAM file at:

/home/UNIXHOME/ndelaney/smallProjects/etseng/badZ.bam

Contains one ZMW that was dumped with a really bad z-score based on two subreads.  CCS was run with the following options

      -minZScore=-500000 --maxDropFraction=1 --minPredictedAccuracy=0 --minPasses=0

Everything from POA to Consensus seems pretty broken, and the Z-scores are both super low (-5.47436, -3.8087).

[2015-08-12 08:14] evolvedmicrobe commented on #45
Also, this template was refined by 99 applied mutations, far more than usual and likely leading to the slowdown.

[2015-08-12 16:24] nlhepler commented on #45
So, I'm actually at a crossroads where I feel CCS is ill-defined for anything without at least a single full pass. I'm inclined to max(1, options.get("minPasses")) to deal with it, same as the old CCS--just because of the dilemma of 2-subread-neither-full-pass.

[2015-08-12 16:25] nlhepler commented on #45
This is because the passthrough for those would generate 2 /ccs for a ZMW, which isn't supposed to happen.

[2015-08-12 17:06] evolvedmicrobe commented on #45
Lance, let's change CCS so it is max(1, options.get("minPasses")) for now so we have a bug free tarball (I agree it's poorly defined, and so we should either handle it correctly or prevent it from happening).  Do you think we could push that today for @mseetin?

Let's then track down @etseng later and figure out what we can do to accommodate here.

[2015-08-12 17:11] nlhepler commented on #45
Yea, I'm going to do that now. I'll even throw an error with minPasses < 1 just so users know.

[2015-08-12 17:17] etseng commented on #45
Hi,

You forward to the wrong @etseng.
Sorry not let you know earlier.

Regards,
Eric

From: Nigel Delaney [mailto:notifications@github.com]
Sent: Wednesday, August 12, 2015 10:07 AM
To: PacificBiosciences/pbccs
Cc: Tseng, Eric
Subject: Re: [pbccs] Tests for POA edge-case(s) (single-read mostly) (#45)

Lance, let's change CCS so it is max(1, options.get("minPasses")) for now so we have a bug free

[2015-08-12 17:29] nlhepler commented on #45
I've tests for edge-cases in the POA in c58f65043a600dd0764ff4bfaaedd729faeac908, going to close this issue.

[2015-08-12 17:29] #45 closed

[2015-08-12 20:07] Magdoll commented on #45
Lance & Nigel: @magdoll is the one you are looking for...not etseng, sorry.

I'm not entirely comfortable with losing anything that is not a full-pass. A few thoughts:

(a) full-pass means both SMRTadapters are seen? this means some actually "full-length" (contains both 5' and 3' end of the cDNA primer) reads might actually get thrown out.

(b) Iso-Seq makes use of non-full-length reads as well to

[2015-08-13 07:04] evolvedmicrobe opened #49 "Non-Deterministic Behavior and POA Craziness"

[2015-08-13 07:19] nlhepler commented on #49
Dave was looking into POA nondeterminism, but IIRC, it isn't addressable until we write our own graph class to take over for boost's. =/ @dalexander, can you chime in?

I've been looking at how the C# POA reorders subreads. @evolvedmicrobe, let's talk tomorrow about what it does and whether we should replicate/iterate?

[2015-08-13 13:51] dalexander commented on #49
The POA should be deterministic as of my fix to ConsensusCore a month or two ago.  If you have a test case that shows the exact same inputs to the POA (including ordering) giving different output, then we know the problem is in the POA, but otherwise I am skeptical.

It might be useful for debugging to have some flag like "--poaOnly" that just dumps the POA as the consensus.

This issue highlights

[2015-08-13 14:19] dalexander commented on #49
^^ Grumpy pre-coffee post.  I suspect the ordering is the problem... but if not, please reduce the problem to a failing test case and I will look into the POA.

[2015-08-13 14:21] dalexander commented on #49
@nlhepler, could you tag the "pre-patch" and "post-patch" versions as alpha-1, alpha-2, or some such?

[2015-08-13 14:44] dalexander opened #50 "CHANGELOG"
Please add a CHANGELOG (or CHANGELOG.md) to keep track of changes; we should add an update for every "tagged" version

[2015-08-13 16:44] nlhepler commented on #49
@dalexander, not grumpy at all, very good points made. =) As for ordering, it is deterministic: polymerase order. This is doubtlessly suboptimal, and we'll look into it. What was done in C# is pretty straightforward, but I think we should go even further--again, we'll discuss later.

End-to-end tests are definitely in order.

[2015-08-13 21:52] evolvedmicrobe commented on #4
Closed with 557b0e9fc87c34d2095c3ee5a14b165de9366106

[2015-08-13 21:52] #4 closed

[2015-08-14 04:49] nlhepler commented on #49
There's something wonky going on. I'm going to spend tomorrow trying to track it down. For zmws 1-10000 of the lambda dataset I've been playing with, between two runs of the same binary there's 3 additional sequences and 17 other sequences that differ in length/content/QVs.

[2015-08-14 14:59] nlhepler commented on #49
Did another run, differs from the previous two runs by 2 sequences. All of them can be traced to convergence failures. As that's a separate issue, I'm going to focus on the sequence content nondeterminism here.

[2015-08-14 18:07] natechols opened #51 "--overwrite option?"
Would it be possible to have a command-line option to overwrite existing files instead of existing with an error?  Not an essential feature, but would make testing easier.

(I could maybe implement this myself, but I thought I'd ask before diving into C++ code.)

[2015-08-14 18:11] dalexander opened #52 "abort on misspelled option"
This could be a big usability problem and lead to a lot of mistakes in the field if we don't fix it.

[2015-08-14 18:12] nlhepler commented on #51
I could add a -f flag, for --force. @evolvedmicrobe, thoughts?

[2015-08-14 18:13] nlhepler commented on #52
It actually does abort, though the truncated behavior still works.

[2015-08-14 18:16] #52 closed

[2015-08-14 18:16] nlhepler commented on #49
Okay, the POA is definitely a culprit. Narrowing now.

[2015-08-14 18:26] dalexander commented on #52
Oh OK.  I misunderstood.  Thanks for closing

[2015-08-14 19:03] evolvedmicrobe commented on #51
@natechols if you want to submit a pull we'd accept.  Presumably unit/integration tests should always delete the output files though.

[2015-08-14 19:40] nlhepler commented on #49
Subread input order is deterministic--seems the POA sometimes has issues. Over 10 runs of m141115_075238_ethan_c100699872550000001823139203261572_s1_p0/915, I observed 3 different species. Given the species, the subread extents were deterministic.

[2015-08-14 20:07] nlhepler commented on #49
Added a test to the poaFixes branch. https://github.com/PacificBiosciences/pbccs/commit/6af8f4870df0dc2fded31e80618b46ce970055cb

[2015-08-14 20:31] evolvedmicrobe commented on #50
Added a python script to generate a changelog with 720a51d23f7fc3a .  Commits that should be included in the changelog should be made with a "**" in the message.  If present in the commit, the git message and commit date will become an entry in the change log.

[2015-08-14 20:31] #50 closed

[2015-08-15 21:05] nlhepler commented on #49
Saturday status update: okay, been digging at this--it seems that there are differences in the intermediate consensus leading to differences in the anchors found by the SparsePoa. Tracking it further, it seems that the first difference arises in the graph in ReachingScore, which seems to induce an alternative traversal. Investigation ongoing.

[2015-08-15 21:19] nlhepler commented on #49
Further narrowing suggests the first difference arises in SpanningReads, beginning with tagSpan. I think that the topological_sort is ordering the end arbitrarily within its topological group, leading to nondeterministic behavior.

[2015-08-15 21:37] evolvedmicrobe commented on #49
Does topological sort only guarantee that if in a DAG edge *(u,v)* exists, then *u* will come before *v* in the sort, but make no other guarantees on the order (this could make it the non-deterministic step and we could perhaps apply an additional sort criteria to guarantee that for a given graph structure the sort order was the same?).

[2015-08-15 21:50] nlhepler commented on #49
@evolvedmicrobe, it only guarantees u before v the way we're invoking it. I'm trying to figure out if it can be invoked with further constraints..

[2015-08-15 22:11] nlhepler commented on #49
Okay, no way to use topo_sort for this (deterministically or correctly). Going to need a modified DFS. @dalexander, can you chime in at your earliest convenience? We actually don't want topo_sort here, I think. We want all edges in all paths between start and end, yah?

[2015-08-15 22:35] nlhepler commented on #49
Okay, two possibilities: do the tagSpan operation separately as it is now, or integrate it with threadFirstRead and tracebackAndThread. I think the latter might actually be saner.

[2015-08-15 23:29] nlhepler commented on #49
I'm testing a fix locally. It appears to work at first pass, just need to make sure the PoaTests all pass everywhere, and then I'll post it in this branch for @dalexander to review.

[2015-08-15 23:46] nlhepler commented on #49
Hmm, I realize integrating it into threadFirstRead and tracebackAndThread isn't technically correct (for the semantic of SpanningReads as I understand it). Going to have to revert it and focus on the DFS solution..

[2015-08-17 01:54] nlhepler commented on #49
I removed the test because it's not failing on CircleCI and we can't afford to increase the number of runs. The memory allocations seem more deterministic in the CircleCI environment, which doesn't help us with this failure mode.. Despite this, most of nondeterminism seems to have been identified and addressed. I'm running a larger suite of tests now, but the initial results are promising.

[2015-08-17 01:55] nlhepler commented on #49
You can see the most recent work [here](https://github.com/nlhepler/pbccs/tree/poaFixes)

[2015-08-17 05:59] nlhepler commented on #49
This is fixed as of bfcbe492d832556f1e61b1224a9f5018303a9a0a

[2015-08-17 05:59] #49 closed

[2015-08-17 14:34] dalexander commented on #49
@nlhepler, I think we lost your "summary" comment when you deleted the branch.  Can you repeat it here?

[2015-08-17 14:53] nlhepler commented on #49
@evolvedmicrobe, @dalexander, did either of you get an email with it therein?

[2015-08-17 15:46] dalexander commented on #49
found it:

@dalexander, two things. There were three places where we were finding a maximum in an arbitrarily ordered sequence, and we didn't handle the case of equivalent values in the sequence in a deterministic way. The other was tagSpan, which used a topological sort. First, the ordering outside of the (u,v) u-before-v constraint is nondeterministic. As a result, if you had A->B; A->C; B->D; C

[2015-08-17 15:46] dalexander commented on #49
in the future, please leave the branch open til review complete

[2015-08-18 15:22] bnbowman opened #56 "Feature Request: Make QVsToASCII from Consensus.h public"
Currently I've simply copied the code, though it might be better to have a shared set of public utility functions like this

[2015-08-18 16:08] nlhepler commented on #56
I think pbbam has some utility functions like this. We should work with Derek on a unified data model.

[2015-08-18 17:05] evolvedmicrobe commented on #56
The function is available to anyone who imports the header no? It's a pretty standard conversion that's available in most parsing libraries as well.

[2015-08-18 17:08] bnbowman commented on #56
Nope - the anonymous namespace limits it to the local translation unit.  I agree with Lance on this, though - a couple such functions are fundamental enough that it's worth pushing them as low in the stack as possible, and PbBam is the logical place.

[2015-08-19 17:40] verheytb opened #58 "Feature Request: Strand-specific consensuses"
I've made my own program that I was hoping would be able to call the CCS for each strand separately, modified from [this code](https://github.com/PacificBiosciences/GenomicConsensus/blob/mini-ccs/rccs.py). However, the error rate is much higher than the CCS method in SMRT Portal, even after controlling for the number of subreads in each consensus.

Would it be possible to implement functionality t

[2015-08-19 19:12] nlhepler commented on #58
Hi @verheytb! We can certainly do this, it's been a feature request even internally.

[2015-08-19 19:35] verheytb commented on #58
Awesome, much appreciated!

[2015-08-19 21:07] verheytb commented on #58
Any chance this will be out before October 30?

[2015-08-19 21:09] nlhepler commented on #58
@verheytb, I cannot say for sure, but I *would expect* this feature to land in *this codebase* before then.

[2015-08-24 19:45] evolvedmicrobe commented on #22
Note to self: Also don't retest to get QV values.

[2015-08-26 17:09] nlhepler commented on #51
Fixed in 6c14501ffdc4099c11cedc83d099b126a311be4c

[2015-08-26 17:09] #51 closed

[2015-08-26 18:04] nlhepler opened #61 "Build instructions"

[2015-08-26 18:05] nlhepler opened #62 "bax2bam needs to be on github"
The point of #61 is absent without a way to marshall data into ccs-compatible form.

[2015-08-28 12:27] dalexander commented on #62
@bnbowman , since I think you had expressed interest in becoming the point-man for bax2bam, I think ti would make sense for you to look into this.  Because of internal dependencies, this is going to have to be done using git-p4, we can't move the canonical repo to git.  Let me email you my slide deck on how to use git-p4 in our environment.

[2015-08-28 23:09] dalexander opened #63 "fix bax2bam usage instruction on README"
It doesn't work---bax2bam doesn't understand bas.h5 files

It might work in the future with Brett's changes, but we should be providing documentation that works for the preview customers.

[2015-08-28 23:23] nlhepler commented on #63
Fixed in adc68444ac680243299e3609ef4b73c3966810b8

[2015-08-28 23:23] #63 closed

[2015-08-31 15:58] bnbowman commented on #63
Did you test the proposed README instructions?  Because Bas.H5 support works for me from the nightly build, and if Bas.H5 support isn't working for anyone else I'd like to know...

[2015-08-31 19:14] nlhepler commented on #63
The tarball we shipped to some customers doesn't have the bas.h5 support in it, so until then we'll go with the bax.h5 instructions.

[2015-09-03 21:22] kemin711 opened #65 "cmake failed"
I am not an expert on CMake,
I fixed some minor problems in your cmake file, now having this one:

~/remoteh/src/buildccs$ cmake ../pbccs
You have called ADD_LIBRARY for library pbccs without any source files. This typically indicates a problem with your CMakeLists.txt file
CMake Error at CMakeLists.txt:22 (set_target_properties):
  set_target_properties called with incorrect number of arguments.

[2015-09-03 21:26] nlhepler commented on #65
@kemin711,

Without knowing your changes, I cannot hope help you debug your issue. Could you publish them to a place on github? And may I ask, what minor problems were you having?

[2015-09-03 21:45] kemin711 commented on #65
20 # libpbccs.a
 21 add_library(pbccs STATIC ${PacBioCCS_CPP} ${PacBioCCS_H})
/src/CMakeLists.txt
22 set_target_properties(pbccs PROPERTIES
 23     ARCHIVE_OUTPUT_DIRECTORY ${PacBioCCS_LibDir}
 24 )

Line 23 one of the two variables are undefined:
You have called ADD_LIBRARY for library pbccs without any source files. This typically indicates a problem with your CMakeLists.txt file
CMake Error at

[2015-09-03 21:47] kemin711 commented on #65
1 cmake_minimum_required(VERSION 3.3)

I have add this line to the top of the file to suppress warnings

[2015-09-03 21:51] nlhepler commented on #65
@kemin711, this is indicating that there are no files in either ${PacBioCCS_CPP} or ${PacBioCCS_H}, which were fetched using FILE(GLOB_RECURSE ...) into the src/ and include/ directories, respectively. Do you have a full and complete checkout?

[2015-09-03 22:11] kemin711 opened #67 "dependency"
On a different system:

add_subdirectory given source
  "$HOME/src/pacbio/pbccs/../../../software/smrtanalysis/bioinformatics/staging/PostPrimary/pbbam"
  which is not an existing directory.

I wonder that I need to download other source directory?
Also I may need the pbbam module

[2015-09-03 22:39] nlhepler commented on #67
Yes, you'll need the pbbam module. I suggest you take a look at the circle.yaml file to see how we build it for circleci.

[2015-09-03 22:39] nlhepler commented on #67
Also, pbbam will require htslib

[2015-09-03 22:42] nlhepler commented on #65
So, as you've noticed, you'll need both htslib and the pbbam modules. I recommend looking at the circle.yaml file to see how we build it there.

Additionally, building pbccs locally won't be too useful at the moment. The ccs application only takes PacBio BAM files, and the conversion tool for ba{sx}.h5s is bax2bam (#62), hasn't been made available on github yet. We're working on this, and will hav

[2015-09-11 18:55] dalexander commented on #35
I concur with Lance that no one should be attempting to make sense of our QVs in genomic orientation---they only make sense in the native orientation.  The tools that do this right:  just Quiver.

Is your argument is that you would like the QVs more accessible to "generic" analysis tools that do pileup-type stuff, I agree we could perhaps do a better job there... we could come up with some heurist

[2015-09-11 18:56] dalexander commented on #35
You didn't mention the option of distributing the uncertainty along the span of the homopolymer.

[2015-09-11 19:16] evolvedmicrobe commented on #35
So, the history of this is that ccscheck was making QV calibration plots by doing this very naive type of analysis where you align the CCS read, and then get the QV value that corresponds to any error that you find.  I noticed that even at our highest accuracy very rare errors still occurred.  Closer inspection showed it was always due to some edge case in how QV values are assigned like what is d

[2015-09-14 17:22] annalenakeller commented on #65
@nlhepler, can you estimate when pbccs will be made available on github? I saw the SMRT Analyses 3.0 preview and am really looking forward to using the new CCS program!

[2015-09-14 19:57] nlhepler commented on #65
@annalenakeller, the source is already here, though it does require some effort to build. =/ We're working on getting the open source build process into a smoother state, as well as some instructions to facilitate (building native binaries is always nightmarishly complicated..). Unfortunately, I don't have an ETA for the completion of that work. As for pre-compiled binaries, I cannot say when exac

[2015-09-15 08:26] annalenakeller commented on #65
Thank you @nlhepler for the update. You mentioned in your previous post that bax2bam isn't available yet (#62). My question was more related to that issue, sorry for not being very clear there. We should get pbccs to work as soon as the source code of bax2bam is made available. Could we get access to that tool any time "sooner" ;) ? We sequenced several datasets enriched for resistance genes. The

[2015-09-15 09:33] armintoepfer commented on #65
Even though a pbccs binary from source does not help you without bax2bam, you can build it with this script: https://gist.github.com/armintoepfer/50f6e13e19fb9527fa18

[2015-09-15 09:34] #65 closed

[2015-09-15 14:43] dalexander commented on #65
@annalenakeller, you should contact Tzvetana if you are interested in getting pre-release access to our tools.    (tkerelska@pacificbiosciences.com)

[2015-09-15 22:29] #67 closed

[2015-09-16 18:41] rhallPB opened #69 "Tags are case sensitive"
The documentation refers to tags NP, RQ etc., but the tags are actually lowercase. bamtools is case sensitive for tags.

[2015-09-16 21:49] evolvedmicrobe commented on #69
Note that not all tags are currently documented.  Fixed with: c9b0d5c63e6716f6b40c1c430068b91cece10ae5

[2015-09-16 21:49] #69 closed

[2015-09-25 01:51] lennythomas opened #72 "Error on Install with ScaledMatrix.o"
When running setup.py I get an error. Not sure if anyone has seen this before.

[code]

[2015-09-25 01:59] nlhepler commented on #72
Hi Lenny, seems you're trying to install ConsensusCore out from under pbccs--which only uses this hacked-up copy of ConsensusCore in C++ fashion--python installation isn't supported (for that, see https://github.com/PacificBiosciences/ConsensusCore/ , but note that it does not implement the same consensus model implemented here).

[2015-09-25 01:59] #72 closed

[2015-09-25 02:19] lennythomas commented on #72
So I was trying to run pbsmrtpipe.pipelines.sa3_ds_ccs_align which was complaining that `task_pbccs_ccs` was not found which when I installed this then complained that `ccs` was not installed. Which package should I be using then?

[2015-09-25 14:23] nlhepler commented on #72
I'm not sure any of this will work without a smrtanalysis environment, but you want to install pbccs--which is the native (CMake) project at the root of the project. After building, there will be a ccs executable and task_pbccs_ccs script in the ./bin directory.

[2015-09-25 14:24] nlhepler commented on #72
The task_pbccs_ccs script depends on pbcommand and pbcore being installed into the local python environment

[2015-09-29 18:39] nlhepler opened #73 "Result counts for subreads failing the 2x median length filter"

[2015-10-22 03:21] evolvedmicrobe commented on #56
sounds like this is an issue for PbBAM, can I close this?

[2015-10-22 03:23] evolvedmicrobe commented on #42
Referencing [Bug 28985] on the internal system.

[2015-10-22 03:25] evolvedmicrobe commented on #32
The sublime rst plugin on mac was kind of broken, and markdown seems just fine.

[2015-10-22 03:25] #32 closed

[2015-10-29 19:00] evolvedmicrobe opened #79 "BAM parsing errors cause crashes"
Right now any error inside the BAM file causes a nasty looking crash.  We should handle these more gracefully.

[2015-10-29 19:07] evolvedmicrobe commented on #79
Referencing internal bug 28284, we won't reinvent the wheel in this code.

[2015-10-30 07:08] evolvedmicrobe commented on #37
With ConsensusCore2, I assume this is now out of date.

[2015-10-30 07:08] #37 closed

[2015-10-30 07:11] evolvedmicrobe commented on #23
@nlhepler I am going to dump some quick code in now to remove the hard coded "P6-C4".  I saw there was some XML parsing foreshadowed here, so will expect it all to be removed later.

[2015-10-30 19:12] nlhepler commented on #23
Works for me, at least as a temporary measure

[2015-11-04 01:45] evolvedmicrobe opened #80 "Add git SHA to every build"
http://stackoverflow.com/questions/1435953/how-can-i-pass-git-sha1-to-compiler-as-definition-using-cmake

[2015-11-12 15:41] dalexander commented on #6
I want to see this happen soon.  I don't feel comfortable with us making tweaks unless we have nightly Jenkins runs happening on a few datasets so we can guard against regressions.

[2015-11-14 04:26] evolvedmicrobe commented on #80
We report both the CC2 and pbccs SHA's now with the --version option at the command line.  Should help avoid/diagnose a lot of issues going forward.

[2015-11-14 04:26] #80 closed

[2015-11-16 22:58] evolvedmicrobe commented on #23
@nlhepler have we closed this now?

[2015-11-16 23:45] nlhepler commented on #23
Yes

[2015-11-16 23:45] #23 closed

[2015-11-17 00:12] evolvedmicrobe commented on #34
Done.

[2015-11-17 00:12] #34 closed

[2015-11-17 00:15] evolvedmicrobe commented on #11
The code has been refactored enough that this issue no longer exists.

[2015-11-17 00:15] #11 closed

[2015-11-17 00:18] evolvedmicrobe commented on #6
We have internal bug 29722 designed to fill in our gap for large/integrative tests.  @natechols has most of the framework in place, so it's possible we can just include it with Jenkins.  Otherwise, we can generate some off-line CRAM tests.

[2015-11-17 00:49] natechols commented on #6
I definitely encourage you to piggyback off the pbsmrtpipe CCS tests in Jenkins if possible - setting up whatever infrastructure is necessary is not a lot of work (for me), I just need to know what to test.  You can push Aaron to bump this up in priority if you feel it's urgent.

[2015-11-18 00:34] #73 closed

[2015-11-18 02:49] evolvedmicrobe opened #86 "Investigate Relaxing SNR Filters"
Right now we filter out Minimum SNR < 4, which results in ~10% yield loss.  However, with the new model we haven't established there are any problems with data below this range if quality filtering is applied, and with many passes we can likely recover some useful information.

[2015-11-18 03:04] nlhepler commented on #86
Definitely worthy of investigation

[2015-11-19 00:07] evolvedmicrobe commented on #86
Looked a bit at this today by evaluating three SMRTCells worth of data.

First, for these SMRT cells between 5.5%-11.5% of the data had a Min SNR < 4, so this represents the range of the maximum yield increase we could obtain by lowering this threshold.  If we only consider reads with RQ > QV30, we have between 5% - 8.5% of reads that could be added to the yield.

![minimumsnr](https://cloud.githu

[2015-11-19 00:59] mseetin commented on #86
Yeah, I think that will be a nice change.  Thanks for taking a look.

On Wed, Nov 18, 2015 at 4:07 PM, Nigel Delaney <notifications@github.com>
wrote:

[2015-11-19 01:00] nlhepler commented on #86
+1

[2015-11-19 06:39] evolvedmicrobe commented on #86
And the Aye's have it!  Just committed a change to make 3.75 the default.

For clarity, note that this doesn't mean SNR has no effect, just that like the Z-score, above a minimum it has a very mild effect, and if you know the RQ/QUAL value than there is little useful additional information to be gained from the SNR or Z-Score.

[2015-11-19 06:39] #86 closed

[2015-11-23 19:00] evolvedmicrobe opened #87 "Fix NaN Option for MinZScore"
--minZScore=NaN works on some platforms but not others, the joys of C++.  Need to adjust the code to not fault on ubuntu.

[2015-11-23 19:02] nlhepler commented on #87
seriously?! wtf

[2015-11-23 19:24] evolvedmicrobe commented on #87
Yeah, totally lame.  https://github.com/PacificBiosciences/pbccs/commit/4174668c02e810af20c37c806be59a0a7eee3516

[2015-11-23 19:24] #87 closed

[2015-11-24 03:14] evolvedmicrobe commented on #41
Just talked about this with Brett.  So, the challenge is what to do when the barcodes don't match within a zmw.  We decided that we will emit a UINT.MAXVALUE for this case, let me know if there are any complaints.

[2015-11-24 05:33] evolvedmicrobe commented on #41
Just committed f0b58ad with ability to pass through barcodes and tests to verify, closing isssue.

[2015-11-24 05:33] #41 closed

[2015-11-24 20:43] nlhepler commented on #41
I don't know if I'm on board with this ... I'd much rather have it go through bam2bam for rebarcoding ... the case you describe above requiring UINT.MAXVALUE is a telltale sign that this passthrough is not necessarily well-formed, there could be pathological cases where a huge number of ZMWs are labeled thusly.

[2015-11-24 20:46] evolvedmicrobe commented on #41
@bnbowman can comment on the feasibility, I was not aware that bam2bam could add barcodes to a ccs.bam file.  How does it adjudicate when the same ZMW has different barcodes called by the adapters?

[2015-11-24 20:46] nlhepler commented on #41
There's also the problem of the LocalContextFlags, which are not necessarily passed through here, in particular BARCODE_BEFORE and BARCODE_AFTER.

[2015-11-24 20:48] nlhepler commented on #41
We would just use the CCS to recall the barcodes, not the constituent subreads. The CCS is an entirely different beast, a completely novel sequence generated from the subreads. While it might be true sometimes, or even often, the properties of the subreads do not necessarily perpetuate into the CCS. Some concepts, like queryStart and queryEnd, for example, are not provided. I would advocate that m

[2015-11-24 20:54] nlhepler commented on #41
I would also really, really like to dissuade everyone from on-the-fly specification-making as in the case of the UINT.MAXVALUE -- it leads to the implementation leading ahead of the specification, essentially creating undocumented behavior. If this is really deemed the best way to address this problem, please update https://github.com/PacificBiosciences/PacBioFileFormats/blob/3.0/BAM.rst as well

[2015-11-24 20:57] evolvedmicrobe commented on #41
The barcode sequences are not in the input.bam that CCS takes, but in a separate index file based on my conversation with Brett.  I am strongly against having CCS take a dependency on another file which is not guaranteed to be present or in sync with the input file.  People always have the option to ignore the bc tags, the output is identical except for the addition of these fields.

But we should

[2015-11-24 21:01] evolvedmicrobe commented on #41
The BAM fileformats have only a passing mention of ccs.bam files, the whole thing is undocumented (e.g. look at the QUAL field description here: https://github.com/PacificBiosciences/PacBioFileFormats/blob/3.0/BAM.rst)... we need to fix that.

[2015-11-24 21:07] nlhepler commented on #41
A user intending on using barcodes with CCS should probably instead provide the barcode sequences as a separate, downstream analysis step from CCS generation (and bam2bam should do the trick, @bnbowman can speak to whether this makes sense). When I opened the issue originally, it didn't immediately occur to me what to do about the mixed barcode case, or that this even made sense. Now that you've g

[2015-11-24 21:07] nlhepler commented on #41
@evolvedmicrobe, wrt to QUAL values, we absolutely, most definitely should.

[2015-11-24 21:08] bnbowman commented on #41
I have multiple reasons for wanting to pass-through barcode information:
1). Simplicity - this way I only need one model for calling / scoring
barcodes
2) Chimera filtering - planned feature comparing barcodes across a ZMW to
catch 2P sequences, which I can't do on CCS
3). Clashing namespace - BC and BQ tags would then have two meanings,
discordant with other barcoding results / data
4).  Breaks t

[2015-11-24 21:14] nlhepler commented on #41
1) Fair enough, though a test as to whether the preexisting model suffices for CCS could obviate this concern.
2) I don't think it's fair that the existence of an inapplicable analysis should count for or against.. you have the problem either way..?
3) I don't understand this point. We would just re-barcode the CCS sequences and populate the correct LocalContextFlags. To what double meaning are yo

[2015-11-24 21:42] evolvedmicrobe commented on #41
I agree with Brett's concern about the BQ/BC tags, it's a general problem... CCS and raw reads have a lot of similarities in terms of metrics, but they aren't exactly the same so it's confusing to give them the same label at times.  But that's not what's preventing everyone from using our awesome instrument right now.

It sounds like we have no actual external use case for these yet, but they coul

[2015-11-24 22:09] nlhepler commented on #41
I can get behind this plan of action 100%

[2015-11-24 22:19] bnbowman commented on #41
sequences and populate the correct LocalContextFlags.

I don't see the CX tag as relevant to this discussion - it is a
subread-specific tag, not a ZMW-specific tag, so it implies nothing about
BC/BQ other than their existence.  So passing through BC and BQ but not CX
is perfectly reasonable.

Or in a practical example - the CX tag on the first subread can refer to a
condition where it has a single

[2015-11-24 22:20] bnbowman commented on #41
are consumed by R&D, we only generate them if pbccs is compiled with a
special flag,

That should suffice for now.

On Tue, Nov 24, 2015 at 1:42 PM, Nigel Delaney <notifications@github.com>
wrote:

[2015-11-24 23:25] evolvedmicrobe commented on #41
https://github.com/PacificBiosciences/pbccs/pull/90/files

[2015-11-24 23:46] evolvedmicrobe opened #91 "CCS BAM files not part of a PacBio BAM specification"
The CCS BAM file format is documented by the README for this repository.  However there is another BAM specification for PacBio:

https://github.com/PacificBiosciences/PacBioFileFormats/blob/3.0/BAM.rst

But this does not fully or adequately describe CCS files (the RQ and QUAL fields being a good example).

We should decide if we want to have redundant specifications (one here, one there), and upd

[2015-11-27 07:52] Owen-haha commented on #62
@dalexander I am also very interested in testing the bax2bam. Can you also email me the software? Thanks!

[2015-12-07 19:39] evolvedmicrobe opened #96 "CCS2 throws unexpected exception"
Report from the field, see email on 12/7/2015 from mseetin.

[2015-12-07 19:46] evolvedmicrobe opened #97 "CCS2 throws unexpected exception"
Report from the field, see email on 12/7/2015 from mseetin. Also issue #236

[2015-12-12 10:15] marcelauliano opened #102 "Getting CCS for my PacBio Reads without a smrtanalysis environment"
Hey guys!
I was trying to install pbccs in a computer cluster I use, but I found no setup.py or compile script inside it, so I guess I need to have smrtanalysis environment which contains other dependencies?

The thing is the cluster I'm using is a shared one, and the IT does not allowed me to install the environment locally due to tomcat start. So, until I get it installed it might take a while.

[2015-12-12 16:41] mseetin commented on #102
Hi Marcela,

This program actually runs as a local script, but it cannot function without other core components, most notably bax2bam.  This program takes as input bam files, not the .bax.h5 files produced by the PacBio RSII, so it requires a conversion program to get the file format correct.  This capability won't be released publicly until Q1 2016 with the wide release of SMRT Analysis 3.0.

[2015-12-18 22:32] nlhepler commented on #97
Duplicate of #96

[2015-12-18 22:32] #97 closed

[2015-12-18 22:33] nlhepler commented on #91
Actually, it does. The spec says the rq field encodes the expected accuracy and that the QUAL field is present for the CCS. So we follow the spec. If the spec needs more descriptive text, the issue belongs there.

[2015-12-18 22:33] #91 closed

[2015-12-18 22:34] nlhepler commented on #79
This is a pbbam bug, referenced internally. Closing here.

[2015-12-18 22:36] nlhepler commented on #96
This was an unhandled AlphaBetaMismatch from Polish, which we now catch appropriately. Still need to figure out why we're getting them, however.

[2015-12-18 22:39] nlhepler commented on #102
Hi Marcela,

As Matthew says, we're not yet in a place to support this outside the SMRTAnalysis environment. In particular, this new version of the CCS analysis is only available in the 3.0+ versions of SMRTAnalysis that have only been released as release-candidate/preview releases to early Sequel adopters. Again, as Matt says, we plan on opening these up to the wider world in Q1 2016.

I suspect

[2015-12-18 22:39] #102 closed

[2015-12-18 22:41] evolvedmicrobe commented on #79
It's two bugs, pbbam needs to implement this feature (that's the internal one), and then we need to use it (that's this one), I like leaving this as a reminder that this hasn't been taken care of yet, though we have some work arounds and checks on file existence in place while we wait.

[2015-12-18 22:43] evolvedmicrobe commented on #96
This indicates a mathematical error and is not yet diagnosed or handled correctly, I wasn't even aware we tried to band aid it with a catch statement.

[2015-12-18 22:45] nlhepler commented on #79
if pbbam is crashing on malformed data, it's a bug there in the parsing libraries and not a feature that needs to be enabled here. There won't be anything for us to turn on, or there shouldn't be. But we can leave this open if you prefer.

[2015-12-18 22:48] evolvedmicrobe commented on #79
The internal bug is a feature request to have a method to check if a BAM is valid, once that method exists we will call it here and report the error.

[2015-12-18 23:12] evolvedmicrobe commented on #96
Actually, I might be totally off base here, are we referring to: https://github.com/PacificBiosciences/ConsensusCore2/pull/7 or is this unrelated?

[2015-12-19 01:08] nlhepler commented on #96
This is unrelated. This is "Unexpected exception" warnings being thrown in the Polish step, which we know happen due to possible issues in CC2. You fixed this in 5c877533d1200a95f94cfacd1a63ff1e8b01a10f.

[2015-12-19 01:08] #96 closed

[2015-12-19 01:19] evolvedmicrobe commented on #96
doh! Sorry for reopening.

[2015-12-30 21:45] evolvedmicrobe opened #107 "minReadScore needs to be documented, filter reported."
Consider the following scenario: Someone decides to encode the RQ value for the reads coming off of the machine as 0.7, and the minimum accuracy required by default for ccs is 0.75.

What happens? The entire thing finishes and no data is processed.  The user has no idea the reads are dropped for this reason as they don't show up in the report, and the option minReadScore they need to override this

[2016-01-07 00:57] evolvedmicrobe opened #108 "Add --noPolish option"

[2016-01-11 07:30] evolvedmicrobe commented on #108
Fixed with pull #109

[2016-01-11 07:30] #108 closed

[2016-01-11 07:31] evolvedmicrobe commented on #42
Added bypass to use noPolish option.

[2016-01-11 07:31] #42 closed

[2016-01-11 07:31] evolvedmicrobe commented on #29
We no longer produce raw read estimates, so not worth pursuing.

[2016-01-11 07:31] #29 closed

[2016-01-11 07:32] evolvedmicrobe commented on #14
noPolish option avoids the extra work, does not report QVs but really at 1-2X coverage they weren't going to be great anyway.

[2016-01-11 07:32] #14 closed

[2016-01-28 23:56] evolvedmicrobe commented on #58
Looks like it may be strand specific time soon.

[2016-01-29 05:45] verheytb commented on #58
Fantastic!

On Thursday, 28 January 2016, Nigel Delaney <notifications@github.com>
wrote:

[2016-02-01 06:38] evolvedmicrobe commented on #47
@nlhepler : Did we ever get a few good examples of this?

[2016-02-01 06:39] evolvedmicrobe commented on #22
This would be a massive speed improvement in the RS world, but I think we will be switching to a more complex emission pattern so it's no longer a simple match/mismatch scoring.

Speed will have to come from using a targeted mutation mode.

[2016-02-01 06:39] #22 closed

[2016-02-01 06:40] evolvedmicrobe commented on #107
Fixed with 801a63792987a4b61b10e09af0496c5c1869ce49

[2016-02-01 06:40] #107 closed

[2016-02-01 06:41] evolvedmicrobe commented on #6
Lance's likelihood tests are awesome, we could use some more integration tests, but I no longer consider this an open issue.

[2016-02-01 06:41] #6 closed

[2016-02-01 06:48] evolvedmicrobe commented on #79
A call to:

     BamFile f(fn);

Apparently will now throw if we have a file that is easily identifiable as bad (problems in header, existence EOF, etc.).  We bubble this message through so this is resolved now.

[2016-02-01 06:48] #79 closed

[2016-02-06 01:32] nlhepler commented on #62
it is! now included with blasr

[2016-02-06 01:32] #62 closed

[2016-02-18 16:25] dalexander commented on #61
I'm concerned that pbccs *may* depend on a version of seqan that has PacBio modifications.

[2016-02-18 16:30] dalexander commented on #61
oh nm, I see we have our own fork of seqan on GH

[2016-02-19 20:06] evolvedmicrobe opened #121 "Expose MaxIterations as a Command Line Parameter"
Currently hard coded at 40.

[2016-02-23 21:20] nlhepler opened #123 "Fix ZScore Calculation"
We'll commit a workaround for sequel in 3.0.4, but we need to fix the ZScore calculation in master (ConsensusCore2).

[2016-04-05 02:16] evolvedmicrobe commented on #58
Strand specific consensus is now available by using the "--byStrand" option.  In general, this can be used to detect heteroduplex formation, which leads the forward and reverse strands to differ by a few SNPs.

[2016-04-05 02:16] #58 closed

[2016-04-06 02:54] dalexander opened #137 "Support dataset output directly"
Presently in order to get a dataset XML out of CCS, we have to run

[code]

It would be nice if we didn't have to do the DS creation manually:

`ccs in.subreadset.xml out.consensusreadset.xml`

`pbalign`, for example, already supports this

[2016-04-06 19:44] cwarden45 opened #138 "Compiling pbccs on mac"
HI,

I am having some difficulty compiling the pbccs code on my mac.

When I run cmake, I get the following error message:

CMake Error at CMakeLists.txt:35 (find_package):
  Could not find a package configuration file provided by "htslib" with any
  of the following names:

    htslibConfig.cmake
    htslib-config.cmake

  Add the installation prefix of "htslib" to CMAKE_PREFIX_PATH or set
  "hts

[2016-04-06 19:50] evolvedmicrobe commented on #138
htslib is a dependency pbccs needs, you can get it from github via:

    git clone https://github.com/PacificBiosciences/htslib.git

Once you have it cloned to a directory, you can add a cmake flag to indicate where it is, e.g.

     -Dhtslib_DIR=/some_path/htslib

[2016-04-06 21:09] dalexander commented on #138
See: https://github.com/PacificBiosciences/pbccs/blob/master/BUILD.md

[2016-04-06 21:09] #138 closed

[2016-04-06 21:14] #61 closed

[2016-05-02 21:26] evolvedmicrobe commented on #123
Close as duplicated in CC2

[2016-05-02 21:26] #123 closed

[2016-05-02 21:26] evolvedmicrobe commented on #56
No response, assuming is pbbam issue

[2016-05-02 21:26] #56 closed

[2016-05-16 11:13] mp15 opened #145 "ccs not loading chemistry list in pitchfork build"
[code]

built with

[code]
For some reason when I build ccs with pitchfork it doesn't seem to recognise the P6-C4 chemistry. I tweaked the error message with PR #144 and got the following.

[code]

Curiously I could not reproduce this error when I built this manually rather than using pitchfork.

[2016-05-16 16:23] mp15 opened #146 "alpha/beta mismatch error"
I have getting the following errors on the SKBR3 MHC pulldown cell line data:

[code]

I have grep'd put the source reads for the first error listed into a gist at: https://gist.github.com/mp15/8a7000c8afebe073f71603ce23d35e3c

[2016-05-16 17:02] dalexander commented on #145
This is bizarre.

[2016-05-16 17:40] nlhepler commented on #145
This is because of the absence of [various flags](https://github.com/PacificBiosciences/ConsensusCore2/blob/master/CMakeLists.txt#L74) needed to have the compiler/linker not optimize the models away as dead code. I have no idea why the pitchfork build would break this.

[2016-05-16 18:00] mp15 commented on #145
I'll have another go from a clean checkout, see if I can reproduce reliably. I take it that putting __attribute__((used)) on the pertainant functions doesn't work?

[2016-05-17 02:47] evolvedmicrobe commented on #146
Hi @mp15 - Thanks for pull request earlier today!

Regarding these A/B mismatch errors - we typically expect a few of these to occur in every run, and they are indicative of bad data.  For example, the gist you gave with some of the subreads shows that many of them had long runs of identical/similar bases.  These can be indicative of DNA damage to one of the basepairs in the strand, or some other

[2016-05-17 08:56] mp15 commented on #146
Hi @evolvedmicrobe,

I suspect these two errors are actually the ones listed below as: `Failed -- Unknown error during processing,2,0.00%` rather than `Failed -- Alpha/Beta mismatch,240,0.16%`. I am curious as to what is causing these alpha/beta mismatches are getting handled via an exception causing an error log rather than them being a mere statistic. Perhaps we could just suppress the error mes

[2016-05-17 16:07] mp15 commented on #145
Built from clean pitchfork checkout, reproduced the error.

[2016-05-17 16:33] nlhepler commented on #145
https://github.com/PacificBiosciences/pitchfork/blob/master/ports/pacbio/pbccs/Makefile#L29 This is the offending line

[2016-05-17 21:50] mhsieh commented on #145
can @mp15 give it a test?

[2016-05-17 22:24] mp15 commented on #145
Will give it a test tomorrow

[2016-05-18 12:20] mp15 commented on #145
@mhsieh Retested and this works now.

Might be worth considering making ConsensusCore2 a shared library on all platforms if you want to continue using this design pattern. I looked into alternatives and the only other proper way to deal with it (without the full archive `ld` command) would be with a `__attribute__((section()))` with a linker script and KEEP sections but that's not very portable.

[2016-05-18 12:20] #145 closed

[2016-05-18 17:01] mhsieh commented on #145
Yes, that's exactly what I modified.

[2016-05-21 20:19] evolvedmicrobe opened #148 "Residual Errors at QUAL = 93"
This comment is now outdated.

[2016-05-21 22:48] evolvedmicrobe commented on #148
After fixing a bug in ccscheck, our high quality errors look different (we get rid of a lot of the one-off stuff, many more outlier events)

![highqualerrors](https://cloud.githubusercontent.com/assets/1330626/15451201/387d49a2-1f6b-11e6-9a55-7af8ce2c9c33.png)
![indeltypes](https://cloud.githubusercontent.com/assets/1330626/15451202/3ed0b26c-1f6b-11e6-80bc-30839df5364d.png)
![snperrors](https://cl

[2016-05-21 23:36] evolvedmicrobe commented on #148
Alright, tracking some more of these SNP errors we appear to be in much better shape than appearances would indicate, roughly 15% of the SNP errors at qual 93 appear to be edge effects (occuring at the end of an alignment).

A few of the others appear to be "interior" alignment artifacts as well.  For example, here are two SNPs (C->T and A->C) with QUAL 93.  However, inspection shows that what rea

[2016-05-22 19:39] dalexander opened #149 "byStrand,noPolish settings incorrectly recognized as true by ccs under clang"
See: https://gist.github.com/dalexander/1dcad856f6910479aafd712c52736541

[2016-05-22 20:14] dalexander commented on #149
Fix in #150

[2016-05-22 20:19] evolvedmicrobe commented on #149
Wow, just wow.

Couldn't agree more

[2016-05-23 05:30] #149 closed

[2016-06-07 11:38] jonathandmoore opened #151 "Errors installing"
After a morning of satisfying dependencies I am stuck on this one, any ideas welcome:

[code]

[2016-06-07 11:50] jonathandmoore opened #152 "Errors installing on OSX"
Cluster installation bogged down in errors, so trying laptop instead OSX El Capitan 10.11.5.  Errors all round here as well, any ideas welcome.

With pitchfork, I am stuck here:

/Applications/Xcode.app/Contents/Developer/usr/bin/make -C ports/thirdparty/zlib provided
rm -rf /Users/moorej/Downloads/pbccs-master/pitchfork/staging/zlib-1.2.8
mkdir -p /Users/moorej/Downloads/pbccs-master/pitchfork/st

[2016-06-07 12:29] evolvedmicrobe commented on #152
For the manual installation, try removing the readlink option in the cmake flag so your command looks like below.

     $ cmake                                               \
           -DSEQAN_INCLUDE_DIRS=../_deps/seqan/include       \
           -DPacBioConsensus_RootDir=../_deps/ConsensusCore2 \
           -DPacBioBAM_RootDir=../_deps/pbbam                \
           -DHTSLIB_ROOTDIR=../_dep

[2016-06-07 12:38] jonathandmoore commented on #152
Thanks, that has removed the readlink error.  I still have the find_package error for htslib.

[2016-06-07 12:45] jonathandmoore commented on #152
I got past the find_package error by setting an environment variable, but now I am here:

CMake Error at _deps/ConsensusCore2/cmake/FindGitSha1.cmake:17 (message):
Could not determine git sha1 via `git describe --always --dirty=*`

[2016-06-07 12:46] nlhepler commented on #152
Take a look [here](https://github.com/PacificBiosciences/pitchfork/blob/master/settings.mk.example) and make sure you do the xcode-select step. You'll need a zlib.h include file somewhere to successfully build htslib.

For the git error, do you have git installed and available in your PATH?

[2016-06-07 13:48] jonathandmoore commented on #152
Thanks, xcode-select helped stop one error.  Next one is:
/Users/moorej/Downloads/pbccs-master/pitchfork/bin/pitchfork fetch --url http://cython.org/release/Cython-0.23.4.tar.gz
fetching http://cython.org/release/Cython-0.23.4.tar.gz
md5sum -c MD5SUM || exit
md5sum: stat 'Cython-0.23.4.tar.gz': No such file or directory
tar zxf Cython-0.23.4.tar.gz -C /Users/moorej/Downloads/pbccs-master/pitchfork

[2016-06-07 14:53] nlhepler commented on #152
Huh, we don't need Cython for pbccs, could you try `make pbccs` from your pitchfork root directory?

[2016-06-07 14:58] jonathandmoore commented on #152
Yes, that was what I did.  Trying it again, and it's fetching http://cython.org/release/Cython-0.23.4.tar.gz again and failing.  Here's the full shell output:

make pbccs
/Applications/Xcode.app/Contents/Developer/usr/bin/make -C ports/thirdparty/ccache do-install
make[1]: Nothing to be done for `do-install'.
/Applications/Xcode.app/Contents/Developer/usr/bin/make -C ports/thirdparty/zlib provided

[2016-06-07 15:06] nlhepler commented on #152
Let's close this here and open it on pitchfork, which is where the real problem is. This project is just for the pbccs application itself, whereas pitchfork has another maintainer who will have to get involved.

[2016-06-07 15:06] #152 closed

[2016-06-07 15:10] jonathandmoore commented on #152
OK I might track the pitchfork issue.  Any ideas why I'm getting the git error if I try to install pbccs without pitchfork?  git seems functional enough on its own.

[2016-06-07 15:22] nlhepler commented on #152
What happens if you run `git describe --always --dirty=*` inside your build directory?

[2016-06-07 15:23] nlhepler commented on #152
Sorry, inside the pbccs project directory?

[2016-06-07 15:25] jonathandmoore commented on #152
I get this:
fatal: Not a git repository (or any of the parent directories): .git

[2016-06-10 18:13] nlhepler commented on #146
@mp15, it's just an anomaly in reporting: subreads can be filtered out by A/BMs, but sometimes a ZMW will fail processing during polishing because a read is just on the edge of A/BM and the polishing step pushes it over. I'm working on a patch to address this case. But it seems like things are working as expected here, so I'm going to go ahead and close this issue.

[2016-06-10 18:13] #146 closed

[2016-06-10 18:17] nlhepler opened #153 "minPasses < 1"
Edward Oakeley would like to use CCS to perform raw subread polishing. We always talk that this is possible, but until we can set minPasses <1 pbccs can't be used for this as it really destroys yield for genomic library preps. So let's drop this threshold. Also, Jim Bullard might be happier too.

[2016-06-10 18:19] nlhepler commented on #121
Yah I can do this real quick. I think we might want to ask Derek to support a --secrets option that exposes a bunch of knobs we don't normally want listed on the usual command-line, and a --secrets-help that exposes their usage/documentation text.

[2016-06-10 18:40] pezmaster31 commented on #121
Already in the upcoming parser:

    class Option {

    // ...

    /// \brief Sets whether to hide this option in the user-visible help output.
    ///
    /// All options are visible by default. Setting \a hide to true for a
    /// particular option makes it internal, i.e. not listed in the help output.
    ///
    Option& SetHidden(bool hide = true);

[2016-06-10 18:41] pezmaster31 commented on #121
I'd just need to add something to show them explicitly

[2016-06-10 18:43] nlhepler commented on #121
@pezmaster31 I'd go a step further. Have these knobs unusable until you turn on another option (which dumps a message to the log too) so that they're aware they're tinkering in an unsupported fashion.

[2016-06-10 18:44] nlhepler commented on #121
but I can always build on top of whatever you're doing. ;) Can't wait to play with the new API!!

[2016-06-14 00:23] mhsieh commented on #151
sorry that I missed this message. Let me reformat your comment and see what I can do to help.

[2016-06-14 00:24] mhsieh commented on #151
Which compiler are you using I have to ask first. you can get the version from some command like `gcc --version` .

[2016-06-14 19:09] mldough opened #156 "MD5SUM not matching for Cython-0.23.4.tar.gz"
While running "make pbccs", URL to download Cython-0.23.4.tar.gz is broken, causing HTML file to be downloaded instead, leading to following error:

md5sum: WARNING: 1 of 1 computed checksum did NOT match

[2016-06-14 21:03] mhsieh commented on #156
if you are using pitchfork, make sure you git pull.

[2016-06-14 23:58] #156 closed

[2016-07-01 11:25] armintoepfer commented on #137
#162

[2016-08-10 02:40] evolvedmicrobe commented on #153
@nlhepler This is completed right?

[2016-08-10 05:26] nlhepler commented on #153
yes

[2016-08-10 05:26] #153 closed

[2016-08-10 18:01] pb-cdunn commented on #36
A helpful thing (because github lacks whitespace suppression):

[code]

And post the resulting diff here (in triple-backticks, or via a GitHub "gist": https://help.github.com/articles/about-gists/ )

[2016-08-10 18:01] nlhepler commented on #36
r+

[2016-08-10 18:03] pb-cdunn commented on #36
Whoa! You can append `?w=1`
- https://github.com/blog/967-github-secrets
- https://github.com/PacificBiosciences/unanimity/pull/36/files?w=1

Looks like there are still a lot of changes to opening braces, but still less than the full diff.

[2016-08-10 18:04] pb-cdunn commented on #36
Sorry for all the edits. Here is the link:
- https://github.com/PacificBiosciences/unanimity/pull/36/files?w=1

[2016-08-10 18:07] pb-cdunn commented on #36
I have a question: Is this the result of running clang-format with the latest config? I hope so, rather than manual edits. A good clang-format.cfg could be helpful in all our C++ code. I think Vlad would love it.

[2016-08-10 18:09] nlhepler commented on #36
@pb-cdunn a lot of it is, but unfortunately maintenance of vertical whitespace isn't something that clang-format handles _exactly_.

[2016-08-10 18:12] pb-cdunn commented on #36
I remember the same problem with the google-style-guide reformatter ... er, checker.

Despite the annoyance, I think a canonical reformatter is worth the pain of a less-them-perfectly-pleasing choice of whitespace.

[2016-08-10 18:23] nlhepler commented on #37
do not merge at present!!

[2016-08-11 00:13] nlhepler commented on #38
to fix SAT-119 (for now)

[2016-08-11 03:05] nlhepler commented on #37
okay, should be ready for review. I'll rebase off master tonight/tmrw. r? @dalexander @armintoepfer

[2016-08-11 03:05] nlhepler commented on #38
@natechols will this be necessary? Seems you guys are fixing things on your end. Also, is there a way from pbcommand to tell the UI that this should be hidden?

[2016-08-11 07:35] armintoepfer commented on #37
I rebased!

![LGTM](http://lgtm.in/p/oenKOJYSp)

[2016-08-11 15:49] natechols commented on #38
Correct, the underlying problem has been fixed.  In theory, this is how we control the UI visibility of options on a per-pipeline basis:

https://github.com/PacificBiosciences/smrtflow/pull/292

In practice, I'm not sure that hidden=true will be respected, but that's a UI problem.  Issue SL-40 covers this.

[2016-08-11 16:00] dalexander commented on #38
So, do we need this still?

[2016-08-11 16:01] natechols commented on #38
No.

[2016-08-11 16:04] dalexander commented on #38
This was a bit of a communications failure.  In the future we should be more explicit who is doing what, and in JIRA, not in slack

[2016-08-11 16:11] dalexander commented on #40
I propose either deleting the bundled cram 0.6 or updating the bundled cram to 0.7 and using that.

[2016-08-11 16:19] dalexander commented on #40
slight preference for bundling 0.7 so that people can run tests without having to set up a virtualenv or have root

[2016-08-11 17:27] armintoepfer commented on #40
The new 0.7 is a module split into 10 files. No idea how to get a single file from that.

[2016-08-11 17:44] dalexander commented on #40
Oh that's unfortunate, I really liked that it used to be a single script.  Anyway, should we leave the old cram 0.6 in the source tree for people to use, or should we delete it?   I don't have a strong opinion now.

[2016-08-11 18:29] nlhepler commented on #40
We could still do that, though it'd be a little hacky: have a script that prepends to PYTHONPATH a cram directory in third-party then exec's the third-party/cram/scripts/cram python script

[2016-08-11 19:58] dalexander commented on #40
that seems fine, not that hacky

[2016-08-11 20:26] nlhepler commented on #41
r? @armintoepfer @dalexander

[2016-08-11 22:31] dalexander commented on #41
do we want to check in pyc files?

[2016-08-11 22:38] nlhepler commented on #41
definitely not pyc files, I just removed them

[2016-08-12 12:14] armintoepfer commented on #40
r? @dalexander @nlhepler

[2016-08-12 12:47] armintoepfer commented on #40
Merged to unblock migration

[2016-08-12 16:06] nlhepler commented on #40
r+ obviously

[2016-08-16 13:03] armintoepfer commented on #42
Please create a PR in bitbucket.

[2016-08-28 09:21] armintoepfer commented on #43
The target is called ccs, we'll fix it. This PR is invalid.

[2016-08-28 11:13] y9c commented on #43
@armintoepfer

[code]

[2016-08-28 11:14] y9c commented on #43
@armintoepfer

# The first type of installation

## Individual tools: use pitchfork

### The easiest way to build is to use the pitchfork build tool, which automates dependency fetching/resolution:

[code]

#

#

#

### no `pbcss`  found.

### neither `ccs` nor `ConsensusCore2` is in the respitory.

[code]

[2016-08-28 11:20] y9c commented on #43
# The second type of installation also went wrong.

## All tools: manually

### Building from scratch requires system-wide installed boost (>=1.5.8), cmake (3.2), and a c++11 compiler (>=gcc-5.3.0, clang):

[code]

#

#

#

#

[code]

[code]

[code]

[code]

[code]

[code]

[2016-08-28 16:41] pb-cdunn commented on #43
It looks like your boost version is inconsistent with your choice of compiler version.

[code]

Well, sure! With gcc-4.9, you need `-std=c++11`.

[2016-08-28 16:47] pb-cdunn commented on #43
@armintoepfer, isn't much of this hosted internally in bitbucket now? If so, how do you keep these external versions up-to-date? I have used pitchfork successfully -- on Friday 27/8/2016 in fact -- using our _internal_ repos via p4/bitbucket, but maybe the current GitHub repos are not fully consistent.

[2016-08-29 06:54] evolvedmicrobe commented on #45
For review by @nlhepler and/or @armintoepfer .  Presumably the cmake build should have been running make but when I downloaded and installed fresh based on the instructions that didn't work.  I didn't root cause at present as I just wanted to enable a quick work around, but if anyones familiar with pbbam's cmake file we could probably fix it further upstream.

[2016-08-29 07:06] pb-cdunn commented on #45
I think we'll need more changes than this. unanimity is different between github and internal bitbucket:
- https://github.com/PacificBiosciences/unanimity/commits
- http://bitbucket.nanofluidics.com:7990/projects/SAT/repos/unanimity/commits

GitHub has not been updated since Aug. 12. Maybe we need to start mirroring them? Internally for now, I use pitchfork, which does work when you use the bitbuc

[2016-08-29 11:21] armintoepfer commented on #45
We'll discuss this internally, as the gitmodules can be mirrored 1:1. Htslib is being built automatically, see circleci. If it doesn't for you, `make htslibSrc`.

[2016-08-29 11:21] armintoepfer commented on #45
I meant, CANNOT be mirrored 1:1.

[2016-11-13 22:28] #2 closed

[2016-11-13 22:28] #5 closed

[2016-11-13 22:28] #7 closed

[2016-11-13 22:28] #35 closed

[2016-11-13 22:28] #36 closed

[2016-11-13 22:28] #38 closed

[2016-11-13 22:28] #47 closed

[2016-11-13 22:28] #121 closed

[2016-11-13 22:28] #137 closed

[2016-11-13 22:28] #148 closed

[2016-11-13 22:28] #151 closed

[2017-04-27 00:31] cwarden45 opened #166 "Unsupported Sequencing Chemistry Combination / Where to find model files?"
Hi,

I am actually trying to use `ccs` in unanimity, but I didn't see an issue listing on that site and I get the same error message if I try use the the pbccs version of `ccs`.

I am trying to define CCS reads from the following sample:

http://www.ebi.ac.uk/ena/data/view/ERX1417672

I've run `bax2bam` to create an unaligned bam file, but I get the following error message if I try to run `ccs` to

[2017-04-27 00:33] mseetin commented on #166
Hi Charles,

P4C2 is very old. It is not currently supported for use with ccs2, and I
would doubt that support would ever be added.

On Apr 26, 2017 5:31 PM, "Charles Warden" <notifications@github.com> wrote:

[2017-04-30 23:12] cwarden45 commented on #166
OK - I was able to define CCS reads using CircularConsensus from ConsensusTools.sh in SMRTportal 2.3.0

[2017-04-30 23:12] #166 closed

[2018-02-01 17:16] MerillaM opened #167 "Issues Installing pbccs"
I'm trying to install pbccs using pitchfork and am running into issues when it tries to install unanimity. I get the following error message:

`[ 24%] Building CXX object src/CMakeFiles/cc2.dir/models/S_P2C2v5_Model.cpp.o
In file included from /opt/pitchfork/workspace/unanimity/include/pacbio/data/internal/BaseEncoding.h:45:0,
                 from /opt/pitchfork/workspace/unanimity/include/pacbio

[2018-04-07 00:31] SoapZA commented on #167
This repository is deprecated and unmaintained

[2018-04-07 00:31] #167 closed